/* Homepage.css */

.homepage-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

h1 {
  font-size: 24px;
  margin-bottom: 5px;
}
input[type="file"] {
  display: none;
}

button {
  background-color: #007bff;
  display: inline-block;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 8px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

span {
  font-size: 14px;
  color:green;
}
.drop-zone {
  border: 2px dashed #007bff;
  background-color: #f0f0f0;
  color: #555555;
  padding: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  width: 300px;
  height: auto;
  margin: 0 auto 20px;
}

.drop-zone:hover {
  background-color: #e0e0e0;
}
.drag-over {
  background-color: #e0e0e0;
}

.file-names {
  margin-top: 20px;
  font-size: 14px;
  color: #555555;
  display: none; 
}

.drop-zone.drag-over .file-names {
  display: block; 
}

.choose-files-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 8px; 
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.choose-files-button:hover {
  background-color: #0056b3;
}


.upload-button {
  margin-top: 10px;
  background-color: #28a745
}
.process-button {
  margin-top: 10px;
  background-color: red
}

.upload-button:hover {
  background-color: #218838; 
}


